* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  overflow: hidden;
}

.container {
  background-image: linear-gradient(
      180deg,
      #01353e 0%,
      rgba(51, 51, 51, 0.595076) 31.64%,
      rgba(51, 51, 51, 0.222586) 74.35%,
      rgba(51, 51, 51, 0) 99.87%
    ),
    url(/images/serfing.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: 980px;
}

.main {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  width: 35%;
  height: 100px;
  margin: 250px;
  margin-left: 110px;
  justify-content: center;
}

nav {
  position: relative;
  font-size: 13pt;
  top: 15px;
}

nav ul {
  width: 600px;
  height: 50px;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  color: #ffffff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  font-family: "Roboto";
}

nav li a {
  box-sizing: border-box;
}

nav li:last-child a {
  border-right: 0;
}

nav a:hover,
nav a:active {
  border-bottom: 2px solid #0b65ec;
}

.logo {
  display: flex;
  width: 7%;
  height: 100px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  color: #ffffffff;
}

.w-first {
  position: relative;
  top: 10px;
  left: 60px;
}

.w-second {
  position: relative;
  top: 39px;
  right: 9px;
}

.header {
  display: flex;
  margin: auto;
  width: 100%;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: normal;
  color: #000000;
}

.header h1 {
  font-family: "Raleway";
  font-size: 200px;
}

.header p {
  font-family: "Roboto";
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  .background {
    height: 100%;
  }

  .main {
    flex-direction: row-reverse;
    width: 100%;
    height: 80px;
  }

  .logo {
    font-size: 16px;
    width: 80px;
    height: 80px;
  }

  .w-first {
    position: relative;
    top: 7px;
    left: 40px;
  }

  .w-second {
    position: relative;
    top: 31px;
    right: 15px;
  }

  .navbar {
    margin: auto;
    width: 60%;
    height: 70px;
  }

  nav {
    font-size: 16px;
  }

  .header {
    height: 600px;
  }

  .header h1 {
    font-size: 140px;
  }

  .header p {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 13px;
    width: 60px;
    height: 60px;
  }

  .w-first {
    top: 10px;
    left: 35px;
  }

  .w-second {
    top: 29px;
    right: 10px;
  }

  nav {
    font-size: 13px;
  }

  .header h1 {
    font-size: 120px;
  }

  .header p {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    font-size: 12px;
  }

  nav a {
    width: 60px;
  }

  nav ul {
    width: 380px;
    height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    display: none;
  }

  nav a {
    line-height: 25px;
    width: 100px;
  }

  nav ul {
    width: 320px;
    height: 60px;
  }

  .header h1 {
    font-size: 90px;
  }

  .header p {
    font-size: 14px;
  }
}
