.heading {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  margin: auto;
}

h1 {
  font-style: normal;
  font-family: "Raleway";
  font-size: 40px;
}

.line {
  position: relative;
  top: 60px;

  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  font-style: normal;
  font-family: "Raleway";
  user-select: none;
  color: rgb(0, 117, 226);
}

.text {
  display: flex;
  width: 100%;
  height: 250px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.info-about-services {
  display: flex;
  flex-direction: column;
}

.info-heading {
  top: 250px;
  left: 400px;

  font-style: normal;
  font-family: "Roboto Condensed";
}

.info-text {
  width: 400px;
  top: 350px;
  left: 280px;

  font-style: normal;
  font-family: "Roboto Condensed";
}

.sun {
  position: relative;
  width: 50px;
  height: 50px;
  top: 55px;
  left: -55px;
  user-select: none;
}

.ticket {
  position: relative;
  width: 50px;
  top: 65px;
  left: -55px;
  user-select: none;
}

.surfing {
  position: relative;
  width: 64px;
  top: 70px;
  left: -55px;
  user-select: none;
}

.add-info {
  display: flex;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 400px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-style: normal;
  font-family: "Roboto Condensed";
}

.statistics {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 320px;
}

.wave {
  display: flex;
  width: 80%;
}

.info-wave {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.wave-text {
  display: flex;
  width: 60%;
  height: 30px;
  font-style: normal;
  font-family: "Roboto Condensed";
  font-size: 16px;
  user-select: none;
  color: grey;
}

.info-wave h2 {
  position: relative;
  bottom: 108px;
  width: 10%;
  height: 30px;
  font-style: normal;
  font-family: "Roboto Condensed";
  font-size: 25px;
  font-weight: 500;
  user-select: none;
}

.wave-percent-1 {
  left: 210px;
}

.wave-percent-2 {
  left: 280px;
}
.wave-percent-3 {
  left: 340px;
}

.wave1 {
  bottom: 20px;
  width: 200px;
  height: 40px;
  user-select: none;
}

.wave2 {
  bottom: 20px;
  width: 270px;
  height: 42px;
  user-select: none;
}

.wave3 {
  bottom: 20px;
  width: 330px;
  height: 45px;
  user-select: none;
}

@media screen and (max-width: 1280px) {
  body {
    overflow: visible;
  }
  .home img {
    width: 25px;
    padding: 6px;
  }

  .heading {
    height: 50px;
  }

  .heading h1 {
    font-size: 40px;
  }

  .heading h2 {
    font-size: 50px;
    top: 50px;
  }

  .text {
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 250px;
    font-size: 17px;
  }

  .info-about-services {
    justify-content: end;
    width: 45%;
    height: 200px;
  }

  .info-text {
    width: 350px;
  }

  .sun {
    left: 160px;
  }

  .ticket {
    top: 55px;
    left: 256px;
  }
  .surfing {
    top: 63px;
    left: 280px;
  }

  .add-info {
    justify-content: start;
    flex-direction: column-reverse;
    height: 550px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .wave1 {
    width: 200px;
    height: 40px;
  }

  .wave2 {
    width: 290px;
    height: 40px;
  }

  .wave3 {
    width: 350px;
    height: 45px;
  }
  .wave-text {
    font-size: 18px;
  }

  .info-wave h2 {
    bottom: 110px;
    font-size: 22px;
  }

  .wave-percent-1 {
    left: 210px;
  }

  .wave-percent-2 {
    left: 300px;
  }
  .wave-percent-3 {
    left: 360px;
  }

  .info {
    font-size: 18px;
    width: 95%;
    height: 220px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow: visible;
  }
  .home img {
    width: 25px;
    padding: 6px;
  }

  .heading {
    height: 50px;
  }

  .heading h1 {
    font-size: 30px;
  }

  .heading h2 {
    font-size: 40px;
    top: 50px;
  }

  .text {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
    font-size: 17px;
  }

  .info-about-services {
    justify-content: end;
    width: 45%;
    height: 200px;
  }

  .info-text {
    width: 350px;
  }

  .sun {
    left: 160px;
  }

  .ticket {
    top: 55px;
    left: 256px;
  }
  .surfing {
    top: 63px;
    left: 280px;
  }

  .add-info {
    justify-content: start;
    flex-direction: column-reverse;
    height: 550px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .wave1 {
    width: 200px;
    height: 40px;
  }

  .wave2 {
    width: 290px;
    height: 40px;
  }

  .wave3 {
    width: 350px;
    height: 45px;
  }
  .wave-text {
    font-size: 18px;
  }

  .info-wave h2 {
    bottom: 110px;
    font-size: 22px;
  }

  .wave-percent-1 {
    left: 210px;
  }

  .wave-percent-2 {
    left: 300px;
  }
  .wave-percent-3 {
    left: 360px;
  }

  .info {
    font-size: 18px;
    width: 95%;
    height: 220px;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow: visible;
  }
  .home img {
    width: 25px;
    padding: 6px;
  }

  .heading {
    height: 50px;
  }

  .heading h1 {
    font-size: 30px;
  }

  .heading h2 {
    font-size: 40px;
    top: 50px;
  }

  .text {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    height: 450px;
    font-size: 13px;
  }

  .info-about-services {
    width: 40%;
    height: 150px;
  }

  .info-text {
    width: 300px;
  }

  .sun {
    left: 130px;
  }

  .ticket {
    left: 200px;
    top: 55px;
  }
  .surfing {
    top: 63px;
    left: 213px;
  }

  .add-info {
    justify-content: start;
    flex-direction: column-reverse;
    height: 550px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .wave1 {
    width: 150px;
    height: 40px;
  }

  .wave2 {
    width: 210px;
    height: 40px;
  }

  .wave3 {
    width: 270px;
    height: 45px;
  }
  .wave-text {
    font-size: 15px;
  }

  .info-wave h2 {
    bottom: 100px;
    font-size: 22px;
  }

  .wave-percent-1 {
    left: 155px;
  }

  .wave-percent-2 {
    left: 215px;
  }
  .wave-percent-3 {
    left: 275px;
  }

  .info {
    font-size: 14px;
    width: 95%;
    height: 220px;
  }
}

@media screen and (max-width: 480px) {
  body {
    overflow: visible;
  }

  .home img {
    width: 25px;
    padding: 6px;
  }

  .heading {
    height: 50px;
  }

  .heading h1 {
    font-size: 25px;
  }

  .heading h2 {
    font-size: 40px;
    top: 50px;
  }

  .text {
    margin: 10px;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 550px;
    font-size: 13px;
  }

  .info-about-services {
    width: 80%;
    height: 150px;
  }

  .info-text {
    width: 300px;
  }

  .sun {
    left: 130px;
  }

  .ticket {
    left: 200px;
    top: 55px;
  }
  .surfing {
    top: 63px;
    left: 213px;
  }

  .add-info {
    justify-content: start;
    flex-direction: column-reverse;
    height: 550px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .wave1 {
    width: 150px;
    height: 40px;
  }

  .wave2 {
    width: 210px;
    height: 40px;
  }

  .wave3 {
    width: 270px;
    height: 45px;
  }
  .wave-text {
    font-size: 15px;
  }

  .info-wave h2 {
    bottom: 100px;
    font-size: 22px;
  }

  .wave-percent-1 {
    left: 155px;
  }

  .wave-percent-2 {
    left: 215px;
  }
  .wave-percent-3 {
    left: 275px;
  }

  .info {
    font-size: 14px;
    width: 95%;
    height: 220px;
  }
}

@media screen and (max-width: 380px) {
  body {
    overflow: visible;
  }

  .home img {
    width: 20px;
    padding: 3px;
  }

  .heading {
    height: 80px;
  }

  .heading h1 {
    font-size: 25px;
  }

  .heading h2 {
    font-size: 40px;
    top: 50px;
  }

  .text {
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 550px;
    font-size: 13px;
  }

  .info-about-services {
    width: 80%;
    height: 150px;
  }

  .info-text {
    width: 300px;
  }

  .sun {
    left: 130px;
  }

  .ticket {
    left: 200px;
    top: 55px;
  }
  .surfing {
    top: 63px;
    left: 213px;
  }

  .add-info {
    justify-content: start;
    flex-direction: column-reverse;
    height: 580px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .wave1 {
    width: 150px;
    height: 40px;
  }

  .wave2 {
    width: 210px;
    height: 40px;
  }

  .wave3 {
    width: 270px;
    height: 45px;
  }
  .wave-text {
    font-size: 15px;
  }

  .info-wave h2 {
    bottom: 100px;
    font-size: 22px;
  }

  .wave-percent-1 {
    left: 155px;
  }

  .wave-percent-2 {
    left: 215px;
  }
  .wave-percent-3 {
    left: 275px;
  }

  .info {
    font-size: 14px;
    width: 95%;
    height: 260px;
  }
}
