.heading {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  margin: auto;
  font-family: "Raleway";
  font-style: normal;
}

.heading h1 {
  font-size: 40px;
}

.heading h2 {
  position: relative;
  top: 40px;
  font-size: 45px;
  user-select: none;
  color: rgb(0, 117, 226);
}

.text {
  display: flex;
  width: 100%;
  height: 250px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  font-style: normal;
  font-family: "Roboto Condensed";
}

.info-about-services {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 170px;
}

.info-heading {
  display: flex;
  flex-direction: row;
}

.text img {
  margin-right: 10px;
  user-select: none;
}

.sun {
  width: 50px;
  height: 55px;
}

.ticket {
  width: 50px;
  height: 55px;
}

.surfing {
  width: 45px;
  height: 50px;
}

.add-info {
  display: flex;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 340px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-style: normal;
  font-family: "Roboto Condensed";
}

.statistics {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 350px;
}

.wave {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
}

.info-wave {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
}

.wave-text {
  display: flex;
  width: 100%;
  height: 30px;
  font-style: normal;
  font-family: "Roboto Condensed";
  font-size: 16px;
  color: rgba(128, 128, 128, 0.74);
}

.wave-percent {
  margin: 5px 0px 0px 10px;
  width: 40px;
  height: 30px;
  font-style: normal;
  font-family: "Roboto Condensed";
  font-size: 25px;
  font-weight: 500;
}

.wave1 {
  bottom: 20px;
  width: 200px;
  height: 40px;
}

.wave2 {
  bottom: 20px;
  width: 270px;
  height: 42px;
}

.wave3 {
  bottom: 20px;
  width: 330px;
  height: 45px;
}

@media screen and (max-width: 1000px) {
  body {
    overflow: visible;
  }

  .heading {
    height: 100px;
  }

  .heading h1 {
    font-size: 35px;
  }

  .heading h2 {
    font-size: 35px;
    top: 25px;
  }

  .text {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    margin-left: 40px;
    width: 100%;
    height: 500px;
    font-size: 17px;
  }

  .info-text {
    width: 350px;
  }

  .add-info {
    flex-direction: column-reverse;
    height: 550px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .info {
    font-size: 18px;
    width: 95%;
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    margin: 0;
    font-size: 15px;
  }

  .info-about-services {
    width: 40%;
    height: 150px;
  }

  .info-text {
    width: 300px;
  }

  .text img {
    margin: 5px 10px 0px 0px;
  }

  .sun {
    width: 40px;
    height: 45px;
  }

  .ticket {
    width: 40px;
    height: 45px;
  }

  .surfing {
    width: 35px;
    height: 40px;
  }

  .info {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .heading h1 {
    font-size: 25px;
  }

  .heading h2 {
    font-size: 30px;
    top: 25px;
  }

  .info-heading {
    font-size: 12px;
  }

  .text {
    justify-content: center;
    height: 570px;
    font-size: 14px;
  }

  .info-about-services {
    width: 80%;
    height: 150px;
  }

  .statistics {
    width: 95%;
    height: 300px;
  }

  .wave-text {
    font-size: 14px;
  }

  .wave1 {
    width: 180px;
    height: 30px;
  }

  .wave2 {
    width: 250px;
    height: 33px;
  }

  .wave3 {
    width: 310px;
    height: 38px;
  }

  .wave-percent {
    font-size: 20px;
  }

  .info {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .heading {
    height: 50px;
  }
  .heading h1 {
    font-size: 21px;
  }

  .heading h2 {
    font-size: 25px;
    top: 25px;
  }

  .text {
    justify-content: start;
    margin-left: 10px;
    width: 100%;
    height: 550px;
    font-size: 13px;
  }

  .add-info {
    height: 550px;
  }
  .wave-text {
    font-size: 13px;
  }

  .wave1 {
    width: 150px;
    height: 25px;
  }

  .wave2 {
    width: 190px;
    height: 28px;
  }

  .wave3 {
    width: 230px;
    height: 30px;
  }

  .wave-percent {
    font-size: 18px;
  }

  .info {
    font-size: 13px;
  }
}
